/*
 *  主题颜色
 */

$black: #333;
$white: #fff;
$white-slow: #c6c7e0;
$basic: #666;
$second: #9598b7;
$main: #FFAB0A;
$main-slow: #BDBDBD;
$main-deep: #181677;
$success: #3bba7c;
$warning: #ffcc00;
$danger: #ff5b5b;
$error: #ff1839;
$border: #eee;
$active: #f4f7ff;
$shadow: rgba($color: $main, $alpha: .2);
$page-bg: #f5f5f5;